.filter-bar { 
  @apply flex gap-2 my-3 mb-5;
}
.filter-btn { 
  @apply py-2 px-2.5 rounded-lg border border-dark-500 bg-dark-700 cursor-pointer text-gray-100 hover:bg-dark-600 transition-colors;
}
.filter-btn.active { 
  @apply bg-primary-600 text-white border-primary-600 hover:bg-primary-700;
}
